{% extends "capsule_app/base_template.html"%}

{% block content %}

<h1><strong>Capsule Title: </strong>{{ capsule.title }}</h1>
<hr>
<p><h2><strong>Life Story:</strong></h2></p>
<p><h5>{{ capsule.synopsis }} </h5></p>
<br>
<hr>
<h3>Education: {{ capsule.education}}</h3>
<h3>Profession: {{ capsule.profession}}</h3>
<h3>Favorite Book: {{ capsule.fav_book}}</h3>
<h3>Favorite Movie: {{ capsule.fav_movie}}</h3>
<h3>Favorite Quote: {{ capsule.fav_quote}}</h3>
<button class="btn btn-primary" onclick="window.history.back()">Back</button>

{% endblock %}